html,
body {
	min-height: 800px;
	margin: 0;
}

.cp-container-fluid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.footer {
	margin-top: 100px;
}

.btn-lg {
	padding: 10px 20px;
	font-size: 1.25rem;
}

.display-2 {
	font-size: 3rem;
}

.bg-custom-navbar {
	height: 60px;
	background-color: #17bb8d;
}
